
nav{
    position: sticky;
}
.icon1{
    padding-right: 20px;
    padding-left: 20px;
}

.icon2{
    padding-right: 20px;
    padding-left: 20px;
}

.icon3{
    padding-right: 20px;
    padding-left: 20px;
}
.icon4{
    justify-content: right;
    margin-left: 300px;
}

.card{
    margin: 2px solid black;
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
}
nav{
    background-color: white;
}
.container-fluid {
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
}

body, h2, p {
    
    font-weight: 200px;
    font-size: larger;

}
.cont{
    width: 100%;
}
.image-thumbail {
    height: 630px;
    width: 630px;
    object-fit: cover;
    
}
/* .aut{
    padding-right: 20px;
    padding-left: 20px;
}
.cap{
    padding-right: 20px;
    padding-left: 20px;
} */
.group{
    display: inline;
    word-wrap: break-word;
}
