
.icon1{
    padding-right: 20px;
    padding-left: 20px;
}

.icon2{
    padding-right: 20px;
    padding-left: 20px;
}

.icon3{
    padding-right: 20px;
    padding-left: 20px;
}
.icon4{
    justify-content: right;
    margin-left: 250px;
}

.container {
    padding-top: 50px;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
   
}
.card{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 2px;

}
nav{
    background-color: white;
}
.container-fluid {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
*{
    font-family: 'Italianno', cursive;
}