{% extends 'all-insta/base.html' %}
{% load bootstrap5 %}
{% load bootstrap_icons %}


{% block content %}
    {{block.super}}
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            username 
        </div>
        <img class="image-thumbail" src="https://i.natgeofe.com/n/3861de2a-04e6-45fd-aec8-02e7809f9d4e/02-cat-training-NationalGeographic_1484324.jpg" alt=""><br><br>
        <div class="icons">
            <a href="" class="icon1">{% bs_icon 'heart' size='1.7em' color='black' %}</a>
            <a href="" class="icon2">{% bs_icon 'chat' size='1.7em' color='black' %}</a>
            <a href="" class="icon3">{% bs_icon 'share' size='1.7em' color='black' %}</a>
            <a href="" class="icon4">{% bs_icon 'bookmark' size='1.7em' color='black' %}</a>
            </div>
    </div>
</div>

        
</body>
{% endblock %}